---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro"
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import BriefCase from "../icons/BriefCase.astro"
import Code from "../icons/Code.astro"
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Proyects from "../components/Proyects.astro";
---

<Layout
  title="Porfolio de ragosorio - Desarrollador y Programador web con 4 años de experiencia"
  description="Contrata a ragosorio para crear tu landing page o aplicación web. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer class="py-20 md:py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="/ragosorio.webp"
        alt="ragosorio photo"
      />
      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hey, soy ragosorio <a
          target="_blank"
          rel="noopener"
          href="https://linkedin.com/in/ragosorio"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>+4 años de experiencia.</span>
        <span class="text-yellow-200/90"
          >Desarrollador Web Full Stack y Creador de Contenido</span
        >
        <span class="text-sky-100/90">de Guatemala 🇬🇹</span>. <span
          class="opacity-85">Especializado en crear landing pages únicas.</span
        >
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/ragosorio">
          <LinkedInIcon class="size-4 lg:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/ragosorio">
          <GithubIcon class="size-4 lg:size-6" />
          Github
        </SocialPill>
        <SocialPill href="mailto:info@ragosorio.com">
          <MailIcon class="size-4 lg:size-6" />
          info@ragosorio.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefCase class="size-7"/>
        Experiencia</h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-7"/>
        Proyectos</h2>
      <Proyects />
    </SectionContainer>
  </main>
</Layout>
